/* CHERRY BLOSSOMS ORIGINAL */
body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.imgur.com/QqP0mWL.png'), url('https://i.imgur.com/Io1Lzgf.png'), url('https://i.imgur.com/Ulp6xjS.png');
    animation: SAKURA 10s linear infinite;
  z-index:1;
}
@keyframes SAKURA { 
  0% { 
    background-position: 0px 0px, 0px 0px, 0px 0px; 
  } 
  100% { 
    background-position: 250px 500px, 200px 600px, 300px 300px; 
  }
}